.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* span question*/
#span-question {
  display: flex;
  justify-content: left;
  height: 100pt;
  margin-left: 50px;
  font-weight: bold;
  font-size: 3rem;
}



/* training radio */


.radio-left {
  display: flex;
  vertical-align: baseline;
  vertical-align: super;
}

.radio-container {
  background-color: #5d626375;
  font-weight: bold;
  font-size: 1.5rem;
  vertical-align: baseline;
  vertical-align: super;

}

/**/
.item-ml-0 {
  margin-left: 10px;

  text-align: left;
}

.clickMe {
  margin-left: 10px;
}

.btnNav {
  width: 100px;
}

.label-verb {
  font-size: 1.5rem;
}

.label-verb-question {
  font-size: 3rem;
}



.home-card {
  height: auto;
}

.col-sidebar {
  max-width: 20%;
}

#training-content {
  max-width: 500px;

}

.bShow {}

.bHidden {
  display: none;
}

.input-training {
  max-width: 70px;
  padding-left: 15px;
}

.input-form-training {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  max-width: 400px;

}

#avatar-icon {
  max-width: 25px;
  max-height: 25px;
}

#form-login {
  max-width: 400px;
  background-color: rgba(10, 38, 46, 0.257);
}

.full-width {
  display: block;
  width: 100%;
}

.red {
  background-color: red;
}



.green {
  background-color: rgb(0, 255, 55);
}

input:invalid {
  background-color: ivory;
  border: #61dafb;
  outline: 2px solid red;
  border-radius: 5px;
}

#container-login {
  margin: 0 auto;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  background-color: rgba(82, 78, 78, 0.463);
  padding-left: 5px;
  padding-right: 5px;
}


.modal-container {
  position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

#training-content #label-note {

  font-size: 1.2rem;

}

#exampleCheck1 {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

/* Mobile: with  <740px*/
@media only screen and (max-width:46.1875em) {
  .courses-product {
    flex-direction: column;
  }

  .col-sidebar {
    max-width: 0px;
  }

  .col-content {
    width: fit-content;

  }
}







/* Table: with  740px<  <1024px */
@media only screen and (min-width:46.25em) and (max-width:63.9375em) {}